@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --color-blue-100: hsl(225, 100%, 94%);
    --color-blue-700: hsl(245, 75%, 52%);
    --color-blue-50: hsl(225, 100%, 98%);
    --color-gray-600: hsl(224, 23%, 55%);
    --color-blue-950: hsl(223, 47%, 23%);
}
*{
box-sizing: border-box;
margin: auto;
padding: auto;
}
body{
background: url(images/pattern-background-desktop.svg) no-repeat
var(--color-blue-50);
font-family: 'Red Hat Display', sans-serif;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
:hover{
cursor: pointer;
}
/* Main space */
main{
margin: 45px;
}
.illustration-hero{
width: 350px;
margin-bottom:-5px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}

.order-summary{
width: 350px;
background: white;
border-bottom-left-radius: 35px;
border-bottom-right-radius:35px;
}
.order-summary h1{
    text-align: center;
    color: var(--color-blue-950);
    padding-block: 15px;
    font-weight: 900;
}
.order-summary p{
    text-align: center;
    padding-inline: 9%;
    font-size: 16px;
    color: var(--color-gray-600);
}
.annual-plan {
    background-color:hsl(225, 100%, 98%) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
    padding: 15px;
    border-radius:10px ;

}
.annual-plan img {
    width: 15%;
}
.annual-plan section{
    margin-right: 35px;
}
.annual-plan span {
   text-decoration: underline; 
   color: var(--color-blue-700);
   font-size: small;
}
.annual-plan span:hover{
    color: #766cf1;
    text-decoration: none;
}
.annual-plan section h5 {
    font-weight: 300;
    color: var(--color-gray-600);
}
 button{
font-family: 'Red Hat Display', sans-serif;
font-weight: 700;
 }
.proceed{
    margin-inline: 35px;
    padding: 15px;
    width:80%;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: var(--color-blue-700);
    box-shadow: -5px 10px 10px var(--color-blue-100);
    
 }
.proceed:hover{
    background-color:#766cf1;
 }
 .cancel{
    border: none;
    background: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    color: hsl(224, 23%, 55%);
    text-align: center;
 }

 .cancel:hover{
    color:var(--color-blue-950);
    font-weight: 900;
   
 }
/* Footer */
footer{
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}